@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(24, 24, 24);
}

body{
    overflow-x: hidden;
}

.webgl
{
    /* add effect */
    mix-blend-mode: exclusion;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}

.conta{
    height: 100vh;
    display: grid;
    place-items: center;
}

h1{
    opacity: .9;
    z-index: 10;
    font-size: 8rem;
    text-transform: uppercase;
    color: white;
}

section{
    height: 100vh;
}